@import "tailwindcss";

@import "./theme.css";
@import "./typography.css";
@import "./utilities.css";

/* =========================================
   RESET
========================================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input,
textarea {
  outline: none;
}

::selection {
  background: var(--color-brand);
  color: #ffffff;
}