@theme {
  /* =========================================
     BRAND
  ========================================= */

  --color-brand: #ff5101;

  /* =========================================
     FONT FAMILY
  ========================================= */

  --font-heading: var(--font-geist);
  --font-body: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

/* =========================================
   LIGHT MODE
========================================= */

:root {
  --text-primary: #0f172a;
  --text-secondary: #475569;
  --text-muted: #64748b;
}

/* =========================================
   DARK MODE
========================================= */

.dark {
  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;
}